* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.formulario {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
  position: relative;
}

.formulario .titulo {
  font-size: 60px;
  color: #fff;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 0;
  /* color: rgba(0, 0, 0, .7);*/
}

.formulario-label,
.form-control,
.formulario-submit {
  display: block;
  width: 100%;
  font-size: 1.1em;
  font-weight: bold;
}


.form-control {
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
}
.form_select {
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
  padding-left: 30px;
  border-radius: 5px;
}
.form-control-file{
  padding: 25px 5px;
  /*background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.7);*/
  margin-bottom: 40px;
  border: none;
  background-color: transparent;
}
.formulario-label {
  padding-left: 15px;

  color: rgba(0, 0, 0, 1);
}

.form-pswd-container {
  display: flex;
}

.form-pswd-container > a {
  clear: both;
  display: inline-block;

  white-space: nowrap;
}

.formulario-submit {
  color: #fff;
  background-color: rgba(30, 34, 33, 1);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
.inicio {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 15px 0;
  margin-bottom: 20px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  color: #fff;
  text-align: center;
  border: 2px solid;
  text-decoration: none;
}

#aviso-legal {
  margin-top: 1rem;
}

#aviso-legal > p:nth-child(2) {
  text-align: center;
}

#contacto {
  margin-top: 3rem;
}

.form-control-feedback {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.form-control {
  padding-left: 30px!important;
}

/* Subscription*/

.title{
  text-align: center;
  font-size: 56px;
  line-height: 58px;
  margin-top: 1%;
  font-weight: 700;
}
.container-sub{
  margin: 5% ;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height:100vh ;
  margin-right: 0;
}

.inner-container{
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow:  0 0 20px 1px rgba(0, 0, 0, 0.4);
  height: 70%;
  width: 30%;
  text-align: center;
  
}


.inner-container > button{
  padding: 10px 32px;
  border: none;
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 999px;
  background: rgba(30, 34, 33, 1);
  color: white;
}

.inner-container > button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1px solid black;
}

.inner-container >h4{
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
}

.inner-container >h1{
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.inner-container >h1{
  font-size: 24px;
}
.inner-container >p{
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 5px;
}

/*Profile*/
.usr-data{
  border: none !important;
}

.profile-submit {
  color: #fff;
  background-color: rgba(30, 34, 33, 1);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 3px;
}

.img-profile{
  width: 300px; 
  height: 300px;
  border-radius: 50%;
}

/*Profile Admin*/
.accion{
  border-radius: 10%;
  background: none;
  padding: 5px 5px;
  margin: 3px auto;
}
.column-title{
  background-color: rgb(148, 153, 158, 0.2);
}

.menu-admin{
  padding: 1rem;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(rgba(30, 34, 33, 9), rgba(30, 34, 33, 9));
  background-position: 100% 0%;
  background-size: 100% 17%;
  color: white;
}
#admin-data{
  display: none;
}

/* edit Post*/
.img-post{
  width: 15rem; 
  height: 15rem;
  margin-left: 100px;
}

